* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.landing {
	background: url(../images/landing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;

}

.line {
	width:1px;
	padding: 0 10px;
	white-space: nowrap;
}




.navbar .nav-link {
  font-size: 16px;
  text-transform: uppercase;
 /* padding-left: 1rem;
  padding-right: 1rem;*/
}



.caption {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background: none;
	color: white;

}

.caption h1 {
	letter-spacing: 1px;
	
}
#top-head {
	width: 100%;

}



.navbar {
	background: #32965D;
}


.col {
	width: 100%;
	padding: 0;
	border: 0;
	border: 1px solid black;
	border-bottom: 3px solid black;
	border-top: 2px solid black;


}

.col:hover {
	border-bottom:  3px solid blue;
	
}

.hr	{
	
	border-top: 3px solid black;
}


.padding {
	background: url(../images/james.jpg);
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 61vh;
	position: relative;


}



.text1 {
	background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,0.8));
	position: absolute;
	top: 55%;
	left: 5%;
	width: 75%;
	
}



.text1 a {
	color: white;
}



.padding2 {
	background: url(../images/stephon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30vh;
	background-color: rgba(0,0,0,.8);
	position: relative;
}

.text2 {
	background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,0.8));
	position: absolute;
	top: 45%;
	left: 5%;

}

.text2 a {
	color: white;
}


.left3 {
	background: url(../images/bill.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30vh;
	position: relative;
}

.text3 {
	background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,0.8));
	position: absolute;
	top: 45%;
	left: 5%;
	
}

.text3 a{
	color: white;
}


ul {
	list-style: none;
}

ul li {
	font-size: 1rem;
	padding: 5px;

}

ul li a {
	color: black;
	
}

ul li a:hover {
	text-decoration: none;
	
}


p i{
	font-size: 1.5rem;
	padding: 0 25px 0 0;
	color: black;
}

h5 a {
	color: black;
}

p a {
	color: black;
}

.latest a {
	color: black;
}

.latest a:hover {
	text-decoration: none;
	color: blue;
}

.kets a:hover {
	color: white;
	text-decoration: none;
}
.tick a {
	color: black;
}

.tick a:hover {
	text-decoration: none;
	color: blue;
}

.up {
	background: ;
	border-radius: 0;
	margin-top: -35px;
	font-size: 1.5rem;
	margin-bottom: -20px;
	color: white;
}
footer {
	background: url(../images/footer.png);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.web {
	text-decoration: none;
	color: white;
}

/*about*/

.card {
	border: 2px solid black;
}

#authors img {
  margin-top: -60px; 
}



#authors .fab {
 /* color: orangered;*/ 
  /*border: 2px solid black;*/
  padding: 5px;
  border-radius: 100px;
  font-size: 25px;
}



.ovl {
 	opacity: 0;
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
}

.ovl:hover {
 	opacity: 1;
 	background: rgba(0,0,0,.8);

}


/*end of about*/


.modal-content iframe{
        margin: 0 auto;
        display: block;
    }




/*gallery*/
.cal img
{
   transition: transform 0.5s ease;
   width: 100%;
    
    
}

.cal img:hover
{
    transform: scale(1.2);
    cursor: zoom-in;
}

.cer img
{
   transition: transform 0.5s ease;
   width: 100%;
    
    
}

.cer img:hover
{
    transform: scale(1.2);
    cursor: zoom-in;
}





.social-icon .fab
{
    font-size: 30px;
    color: deepskyblue;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: white;
    line-height: 1.4;
    border: 10px solid #34495e;
    text-align: center;
    transition: all 0.7s ease-in;
  	margin: 2px; 
    
    
}

.social-icon a:hover .fab
{
    
    border: 10px solid white;
    transform: rotate(360deg);
  
}



/*************************************************/

.content-4 .nav{
    justify-content: center;
    margin: 5%;
}
.content-4 .nav-tabs{
    margin: 2px;
    border: 2px solid black;
    /*border-bottom: 2px;*/
    text-align: center;
    cursor: pointer;   
    background-color: #EDF2F4;
}
.content-4 .tab-item{
    text-decoration: none;
    color: #3F494C;
}
.content-4 .tab-item i{
    display: block;
    font-size: 45px;
    padding: 0.4em 1.7em 0em 1.7em;
}

.content-4 .tab-item.active {
    color: blue;
   
}



.tab-content{
    margin-bottom: 5%;
    transition: all 400ms ease;
}

.nav-tabs {}


/*************************/
