* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.landing {
	background: url(../images/landing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;

}

.line {
	width:1px;
	padding: 0 10px;
	white-space: nowrap;
}
/*body {
	background: grey;
}	*/

/*a {
    color: #428BCA;
    text-decoration: none;
}*/



.navbar .nav-link {
  font-size: 16px;
  text-transform: uppercase;
 /* padding-left: 1rem;
  padding-right: 1rem;*/
}



.caption {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background: none;
	color: yellow;

}

.caption h1 {
	letter-spacing: 1px;
	
}
#top-head {
	width: 100%;

}





.col {
	width: 100%;
	padding: 0;
	border: 0;
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;


}

.col:hover {
	border-bottom:  2px solid blue;
	border-top: 2px solid blue;
}

.hr	{
	
	border-top: 3px solid black;
}


.padding {
	background: url(../images/james.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 61vh;
	position: relative;
	
}



.text1 {
	position: absolute;
	top: 50%;
	left: 5%;
	color: white;
	
}

/*.text1 span {
	color: white;

}
.text1 span:hover {
	
	text-decoration: none;
	
}

.text1 h2 a {
	color: white;
}


.text1 p a {
	color: white;
}*/




/*.tex1 p {
	font-size: 1.5vw;
}*/


.padding2 {
	background: url(../images/stephon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30vh;
	background-color: rgba(0,0,0,.8);
	position: relative;
}
.text2 {
	background: linear-gradient(to bottom,rgba(0,0,0,.3),rgba(0,0,0,0.6));
	position: absolute;
	top: 45%;
	left: 5%;
	color: white;
	padding: 0;
	margin: 0;
	
	


}

.text2 h3 a {
	color: white;
}

.text2 p a {
	color: white;
}


.left3 {
	background: url(../images/bill.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30vh;
	position: relative;
}

.text3 {
	position: absolute;
	top: 50%;
	left: 10%;
	
}

.text3 h3 a{
	color: white;
}

.text3 p a {
	color: white;
}


ul {
	list-style: none;
}

ul li {
	font-size: 1rem;
	padding: 5px;

}

ul li a {
	color: black;
	font-weight: 500;
}

.cap {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.cap h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 2px 2px 15px green;
  
}

.carousel-caption h3 {
  font-size: 200%; 
  font-weight: 500;
  text-shadow: 2px 2px 10px yellow;
  padding-bottom: 1rem;
  color: blue;
  
}

.btn-primary {
  background-color: blue
  border: 1px solid black;
}

.btn-primary:hover {
  background-color: white;
  border: 1px solid #563d7c;
  color: black;
}

/*p a {
	color: black;
}*/

p i{
	font-size: 2rem;
	padding: 0 30px 0 0;
	color: black;
}




footer {
	/*background: rgba(0,0,0,.8);*/
	background: url(../images/footer.png);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*.social-icons li a i{
	color: blue;
	padding: 5px;
	border: 2px solid blue;
	border-radius: 100px;
}*/



/*about*/

.card {
	border: 2px solid black;
}

#authors img {
  margin-top: -60px; 
}



#authors .fab {
 /* color: orangered;*/ 
  /*border: 2px solid black;*/
  padding: 5px;
  border-radius: 100px;
  font-size: 25px;
}



.ovl {
 	opacity: 0;
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
}

.ovl:hover {
 	opacity: 1;
 	background: rgba(0,0,0,.8);

}


/*end of about*/


.modal-content iframe{
        margin: 0 auto;
        display: block;
    }
/*start of apparel*/

/*.main {
	background: navy;
}*/



/*gallery*/
.cal img
{
   transition: transform 0.5s ease;
   width: 100%;
    
    
}

.cal img:hover
{
    transform: scale(1.2);
    cursor: zoom-in;
}

.cer img
{
   transition: transform 0.5s ease;
   width: 100%;
    
    
}

.cer img:hover
{
    transform: scale(1.2);
    cursor: zoom-in;
}





.social-icon .fab
{
    font-size: 30px;
    color: deepskyblue;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: white;
    line-height: 1.4;
    border: 10px solid #34495e;
    text-align: center;
    transition: all 0.7s ease-in;
  	margin: 2px; 
    
    
}

.social-icon a:hover .fab
{
    
    border: 10px solid white;
    transform: rotate(360deg);
  
}

/*************************************************/

.content-4 .nav{
    justify-content: center;
    margin: 5%;
}
.content-4 .nav-tabs{
    margin: 2px;
    border: 2px solid black;
    /*border-bottom: 2px;*/
    text-align: center;
    cursor: pointer;   
    background-color: #EDF2F4;
}
.content-4 .tab-item{
    text-decoration: none;
    color: #3F494C;
}
.content-4 .tab-item i{
    display: block;
    font-size: 45px;
    padding: 0.4em 1.7em 0em 1.7em;
}
/*.content-4 .tab-item span{
    display: inline-block;
    padding-bottom: 1em;
    width: 100%;
}*/
.content-4 .tab-item.active {
    color: blue;
   
}



.tab-content{
    margin-bottom: 5%;
    transition: all 400ms ease;
}

.nav-tabs {}


/*************************/
